body, html {
    height: 96%;
    width: 98%;
    font-family: Arial, Helvetica, sans-serif;
}

#conteudo {
    font-size: 1.4vw;
    display: inline;
}

@media (max-width: 1400px){
    #conteudo {
        font-size: 100%;
    }
    
}
@media (max-width: 400px){
    #conteudo {
        font-size: 85%;
    }
    
}

h1{
    margin: 0px;
}

.tempo {
    display: inline;
}

#conteudo01 {
    height: 18%;
    display: inline-block;
}

#conteudo02 {
    height: 18%;
    display: inline-block;
}

#tela_reacao {
    display: block;
    width: 91%;
    height: 80%;
    border: 5px solid black;
    padding: 10px;
    margin: auto;
}

#Time {
    display: inline;
}


#quadrado {
    background-color: red;
    height: 100px;
    width: 100px;
}

#circulo {
    background-color: blue;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#triangulo {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 80px solid green;
}